<footer style="background-color:  #030c13;">

    <div class="container">
        
        <nav class="footer-nav">
            <div class="footer-col">
                <h5 class="title">DoConnect</h5>
                <ul class="footer-list">
                    <li><a href="">Help</a> </li>
                </ul>
            </div>
            <div class="footer-col">
               
            </div>

            <div class="footer-col">
                <h5 class="title">Team</h5>
                <ul class="footer-list">
                    <li><a href="">Harsh Chudasama</a> </li>
                    <li><a href="">Dasari Pavya</a> </li>
                    <li><a href="">Akanksha Kumari</a> </li>
                    <li><a href="">Deepu Priya</a> </li>
                    <li><a href="">Sanjay Likth</a> </li>
                </ul>
            </div>
            <div class="footer-col">
                <h5 class="title">Contact Us</h5>
                <ul class="footer-list">
                    <li><a href="mailto:C14G5doconnect@gmail.com">C14G5doconnect@gmail.com</a> </li>
                </ul>
            </div>

   

        </nav>
        <div class="footer-copyright">
            <ul class="social">
                <li class="me-2"><a href=""> Facebook</a></li>
                <li class="me-2"><a href="">LinkedIn</a> </li>
                <li class="me-2"><a href="">Instagram</a> </li>
            </ul>
       
        </div>
    </div>
</footer>
